body{
    margin-top: 0PX;                 /*para que arriba ocupe todo el margen arriba*/
    margin-left: 30PX;
    margin-right: 30PX;
    background-color: beige;
    background-image: url(/images/fondo\ comida.jpg);   
}
header{
    background-color:#FFEEA9;
    display: flex;
    justify-content: space-between;  /*MUEVE ELEMENTOS EN EL EJE X*/
} /*POSITION: RELATIVE, HEADER ES UN CONTENEDOR*/

.logo {
    width: auto;
    height: 200px;
    border-radius: 30PX;
}



/*h1{
    Position:fixed;
    font-family: "bungee spice", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size:large;
    letter-spacing: 15px;
    margin-top: 70PX;
    margin-left: 300PX;
}
*/
h2{
    font-family: "BioRhyme Expanded", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration:underline ;
    letter-spacing: -2px;
}

.botones{
    align-items: start;
    /* justify-self:center */
    align-self:center
}

.boton{
    background-color: #FFBF00;
    border-radius: 10px;   /*FORMA REDONDA AL BOTON: ORDEN, MENU, PROMOS, NOSOTROS*/
}

.boton:hover{   /*EL COMANDO :HOVER VA TODO JUNTO, SIN SEPARAR*/
    color: white;
    background-color: black;
    transform: scale(1.2); /*CAMBIA EL TAMAÑO DE BOTON AL PASARLE EL CURSOR*/
    transform: translate(0px,3px); /*traslada a un lugar el boton | 0px en x | 3px en el eje y | no olvidaarse la , */
    /* transform: rotate(20deg); gira 20 grados en un sentido */
    transition: transform 300ms ease; /*TIEMPO DE ANIMACION DE UN BOTON, SI LE AGREGO ALL SE APLICARA PARA TODOS LOS ELEMENTOS*/
    border-radius: 5px;  /*CAMBIA LA FORMA AL PASARLE EL CURSOR*/
}

.botones a:hover{
    color: white;      /*cambia de color al pasarle el mouse*/
}

.padre1{
    display: flex;
    background-color: burlywood;
    color: brown;
}

.padre2{
    display: flex;
    background-color: burlywood;
    color: brown;
} /*AL NAV POSITION: ABSOLUTE, HACE QUE PUEDA MODIFICAR LA POSICION QUE HAY DENTRO, POR AHORA LE PUSE SECTION, AL MAIN DEBERIA CAMBIARLO POR NAV*/
.practicando{
    color: yellow;
}

footer{
    background-color: #E7D37F;
    color: white;
}

.d-blockw-100{   /*NO SEPARAR LAS ETIQUETAS NUNCA*/
    width: 100%;
    height: 600px;
}

.arriba{
    flex: 50%;
    border: 2px solid black;
    border-radius: 20PX;
    margin: 25px;
    margin-bottom: 0;                           /*margen: distancia entre tarjetas, se suman 25 + 25 = 50px*/
    background-color: #FDFFE2;
}

/*ESTE DIV SE SEPARA PARA QUE VAYA ABAJO CON FLEX*/
.abajo{
    flex: 50%;
    border: 2px solid black;
    border-radius: 20PX;
    margin-top: 0;
    margin: 25px;
    margin-bottom: 25px;                     /*arriba 0 abajo 25 pixeles*/
    background-color: #FDFFE2;
}

.COMIDA{
    height: 300px; /*alto*/
    width: 100%; /*ancho*/
    border-radius: 17px 17px 0 0; /*derecha arriba, izquierda arriba, derecha abajo, izquierda abajo*/
}

.app{
    width: 500PX;
    height: 300PX;
}    

.fin :hover{
    color: white;
}

/*MEDIAS QUERIES*/
@media(max-width: 768px){
    /* MAIN{
        flex-direction: column;
    } */
    /* .PADRE1 .COMIDA{
        flex-direction: column;
    }
    .padre2 ABAJO{
        flex-direction: column;
    } */
    /* DIV{
        flex-direction: column;
    }
    .abajo{
        flex-direction: column;
    } */
    .padre1{
        flex-direction: column;
    }
    .padre2{
        flex-direction: column;
    }
}